# Android
android/local.properties
android/.gradle/
android/app/build/
android/build/
android/app/google-services.json
android/app/release.keystore

# Node / build
node_modules/
dist/
.output/
.vite/
